<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/css/main.css">
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div class="profile">
    <img src="<%= picture %>" alt="profile_pic">
    <p><%= name %></p>
  </div>
  <hr>
  <a id="play" href="/game">Play</a>
  <script>
    const socket = io();

    socket.on('join game', (friend, room) => {
      console.log(friend.name + ' requests to join a game!');
      if (confirm(friend.name + ' requests you to join his game!')) {
        socket.emit('accept request', friend.id);
        location.href = 'game?room=' + room;
      }
    });
  </script>
</body>

</html>